html {font-family: 'Open Sans', sans-serif;}
body {background-color:indianred;}
header {background-color: darkolivegreen;}
.ozet {border: 1px solid darkolivegreen; 
    border-radius: 5%;
background-color: aliceblue;}
.ikon:hover {
    background-color: aliceblue;
    cursor:cell;
}
.ozet:hover {background-color:coral; box-shadow: 4px -5px 51px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px -5px 51px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px -5px 51px -3px rgba(0,0,0,0.52);}
.ozet:active {background-color: cadetblue;}